microservice.discovery.eureka/.settings/org.eclipse.m2e.core.prefs
microservice.discovery.eureka/.settings/org.eclipse.core.resources.prefs
microservice.discovery.eureka/.project
microservice.discovery.eureka/.classpath
microservice.discovery.eureka/.settings/org.eclipse.jdt.core.prefs
